/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
} */
header{
    padding: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 0;
}
body{
    background-image: url(./assets/bg.webp);
    height: 110vh;
}
.logoBox{
    display: inline-block;
    width: 150px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}
.navbox{
    width: 600px;
    display: inline-block;
    position: absolute;
    right: 2px;

}
.navbox>a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    transition: all 0.5s;
}
.navbox>a:hover{
    color: salmon;

}
#homie{
    color:salmon;
}
.heading{
    color: salmon;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid #fff; */
    position: relative;
    top: 60px;
    left: 70px;
    width: 500px;
}
.heading+h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    position: relative;
    left: 90px;
    width: 500px;
    padding-top: 10px;

    
}
.heading+h3+p{
    color: #fff;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 80px;
    width: 500px;
    font-style: italic;
    letter-spacing: 2px;
    /* top: 20px; */
}
.btn{
    width: 120px;
    padding: 15px;
    border: 2px solid salmon;
    border: none;
    background-color: salmon;
    color: rgb(237, 232, 232);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 70px;
    top: 30px;
    font-weight: 600px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(241, 241, 241, 0);
    color: white;
    border: 2px solid salmon;
}
footer{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    bottom: 0;
}